@charset "UTF-8";
html,body,h1,h2,h3,p,ul,li{
  margin: 0;
  padding: 0;
  line-height: 1.0;
}
body {
font-family: 'Josefin Sans', sans-serif;
background: #fff;
height: 100vh;
overflow: hidden;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: none;
color: #e3be08!important;
}
header {
background: #fff;
overflow: auto;
top: 0px;
left: 0px;
width: 100%;
padding: 35px;
text-align: center;
}
header h1 {
margin-bottom: 30px;
font-size: 40px;
font-weight: bold;
display: block;
line-height: 1;
letter-spacing: 0;
padding: 0 20px;
}
nav li {
display: inline-block;
}
nav li a {
font-size: 18px;
padding: 20px;
}
nav li:first-child a:hover {
color: #70e4d0!important;
}
nav li:nth-child(2) a:hover {
color: #e0b15c!important;
}
nav li:nth-child(3) a:hover {
color: #f3bbc3!important;
}
#barba-wrapper {
padding: 0;
width: 100%;
}
.inner {
display: table;
width: 100%;
}
.inner .content{
display: table-cell;
vertical-align: middle;
text-align: center;
}
.inner h2{
font-size: 30px;
margin-bottom: 50px;
margin-top: 0;
}
.inner ul li{
display: inline-block;
padding: 10px 20px;
}
.inner ul li a{
background: rgba(79,77,71,.1);
border-radius: 5px;
padding: 18px 50px;
color: #000;
font-size: 18px;
display: block;
line-height: 1;
}
.inner ul li a:hover{
color: #000!important;
background: rgba(79,77,71,.05);
}
.page-1.inner {
background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #7be7d7), color-stop(40%, #7be7d7), color-stop(40%, #7be7d7), color-stop(100%, #86a4e3));
background: -webkit-linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
background: -webkit-linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
background: linear-gradient(45deg, #7be7d7 1%, #7be7d7 40%, #7be7d7 40%, #86a4e3 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7be7d7', endColorstr='#86a4e3', GradientType=1);
}
.page-2.inner{
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#ddb14f),color-stop(100%,#ea6c30));
background: -webkit-linear-gradient(45deg,#ddb14f 0,#ea6c30 100%);
background: -webkit-linear-gradient(45deg, #ddb14f 0, #ea6c30 100%);
background: linear-gradient(45deg,#ddb14f 0,#ea6c30 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddb14f', endColorstr='#ea6c30', GradientType=1);
}
.page-3.inner{
background: -webkit-gradient(linear,left bottom,right top,color-stop(0%,#f2c8c5),color-stop(100%,#f686bc));
background: -webkit-linear-gradient(45deg,#f2c8c5 0,#f686bc 100%);
background: -webkit-linear-gradient(45deg, #f2c8c5 0, #f686bc 100%);
background: linear-gradient(45deg,#f2c8c5 0,#f686bc 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2c8c5', endColorstr='#f686bc', GradientType=1);
}